<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>130752645398-d9445p45er2djepghqjmf8j2i65i03m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130752645398-d9445p45er2djepghqjmf8j2i65i03m4</string>
	<key>API_KEY</key>
	<string>AIzaSyC6OX7_9xJa5XTfhG6n2KJOXWxKynzw570</string>
	<key>GCM_SENDER_ID</key>
	<string>130752645398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jeffrey-Doyle.starter</string>
	<key>PROJECT_ID</key>
	<string>starter-e11f5</string>
	<key>STORAGE_BUCKET</key>
	<string>starter-e11f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:130752645398:ios:f647dcaf11ec1ec5</string>
	<key>DATABASE_URL</key>
	<string>https://starter-e11f5.firebaseio.com</string>
</dict>
</plist>